<h1>Book Details:</h1>

<section>
    <h2>{{book.title}}</h2>
    <p>
        <strong>Author:</strong> {{book.author}} <br />
    </p>
    <p>
        <strong>Description:</strong> {{book.description}} <br />
    </p>
    <p>
        <strong>Rating:</strong> {{book.rating}} <br />
    </p>

    {{#if book.imageUrl}}
        <img src="{{book.imageUrl}}" alt="{{book.title}}" />
    {{/if}}

</section>

<br /><hr /><br />
<a href="/books">Back</a>